{% extends "base_top.html" %}
{% block main %}

<!-- {% load static %} -->
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

<div class="titlebar">
   <!-- <p class="subject">◆HTML＆CSS入門</p> -->
   <h2 class="subject"><a href="{% url 'profile' user.id %}">{{ user }}</a> さん</h2>
   <h2 class="date"><a href="https://scholar.google.co.jp/">Google Scholar</a>で検索</h2>
   <!-- <p class="date">11月27日(月)</p> -->
</div>


<br><br><br><br>

<h2 class="text-center"><u><a href="{% url 'room_list' %}">部屋検索</a></u></h2>
<p class="text-center">読みたい論文名を入力して部屋を検索</p>

<!-- <form action="{% url 'room_list' %}" method="post">
  <input type="search" name="search" placeholder="論文名を入力">
  <input type="submit" name="submit" value="検索">
</form> -->

<div class="create-room-box" align="center">
    <form method="post">
        {% csrf_token %}
        <input placeholder="キーワードを入力" type="text" name="keyword" value="">
        <input type="submit" class="send" name="search" value="検索">
    </form>
</div>




<hr>
<hr>
<hr>
<h2 class="text-center"><u>ブックマーク</u></h2>
<hr>

<div align="center">
<ul class="select-room-box" style="padding-left: 0px;" >
{% for book in bookmark %}
    <div><a class="link_button" href="/chat/{{ book.name }}"  >{{ book.name }}</a></div>
    <br>
{% endfor %}
</ul>
</div>


<hr>
<hr>
<hr>
<h2 class="text-center"><u>ランキング</u></h2>
<div class="container">
  <table class="design01">
    <thead>
      <tr>
        <th>score</th>
        <th>username</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
        {% for us in ranking %}
      <tr>
        <td><b>{{us.score}}</b></td>
        <td>{{us.username}}</td>
        <td>{{us.email}}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>




<h2 class="text-center"><u>おすすめの論文</u></h2><br>

<!-- <div class="container">
  <table class="design01">
    <thead>
      <tr>
        <th>rank</th>
        <th>title</th>
        <th>writer</th>
        <th>year</th>
      </tr>
    </thead>
    <tbody>
    {% for i in search_results %}
      <tr>
        <td>{{i.rank}}</td>
        <td><a href={{i.url}}>{{i.title}}</a> {{i.citations}} </td>
        <td>{{i.writer}}</td>
        <td>{{i.year}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div> -->


<ul class="horizontal-list">
  {% for i in search_results %}
  <li class="item">
    <div><u>タイトル &#040; 引用数 &#041;</u></div>
    <div><a href={{i.url}}>{{i.title}}</a></div>
    <div>&#040; {{i.citations}} &#041;</div>
    <div><u>著者</u></div>
    <div>{{i.writer}}</div>
    <div><u>出版年</u></div>
    <div>{{i.year}}</div>
  </li>
  {% endfor %}
</ul>





<!-- <ul class="horizontal-list">
  <li class="item">
    <div>コンテンツ1</div>
  </li>
  <li class="item">
    <div>コンテンツ2</div>
  </li>
  <li class="item">
    <div>コンテンツ3</div>
  </li>
  <li class="item">
    <div>コンテンツ4</div>
  </li>
</ul> -->


<!-- 下の URL 名は決められたものなので、間違えないようにする -->
<hr>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
<p><a href="{% url 'password_reset' %}">パスワードを忘れた場合</a></p>
{% endblock %}
