{% load static %}

<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/login.css">
        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'profile' user.id %}"><u>{{ user }}</u></a>
            <a class="navbar-brand" href="https://scholar.google.co.jp/" target="_blank"><u>Google Scholar</u></a>
            <a class="navbar-brand" href="{% url 'create_room' %}"><u>Create Room</u></a>
            <div class="navbar-brand create-room-box">
                <form method="post">
                    {% csrf_token %}
                    <input placeholder="Find rooms" type="text" name="keyword" value="">
                    <input type="submit" class="send" name="search" value="Search"> 
                </form>
            </div>
            <a class="navbar-brand" href="{% url 'logout' %}"><u>Logout</u></a>
        </nav>
        {% if chance_flag %}
            <div class="alert alert-success">あなたが輪講希望を出している部屋に輪講希望が出されています！</div>
        {% endif %}
        <div class="container mt-4">
            <div class="form-wrapper2">
                <h1>Recommend Papers</h1>
                <ul class="horizontal-list">
                    {% for i in search_results %}
                    <li class="item">
                        <div><strong>Title &#040;Cited&#041; : </strong></div>
                        <div><a href={{i.url}}>{{i.title}}</a> &#040;{{i.citations}}&#041;</div>
                        <div><strong>Authors</strong> : {{i.writer}}</div>
                        <strong>year of publication</strong> : {{i.year}}
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <div style="display:inline-flex">
                <div class="container">
                    <div class="form-wrapper4">
                        <h1>Bookmarks</h1>
                        <div class="form-footer2">
                            <ul>
                                {% for book in bookmark %}
                                <li><a href="/chat/{{ book.name }}">{{ book.name }} &nbsp; [{{ book.user_set.count }}] &nbsp; ({{ book.jourclub.count }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="form-wrapper4"><h1>Ranking</h1>
                        <table class="design01">
                            <thead>
                            <tr>
                                <th><strong><font color="white">score</font></strong></th>
                                <th><strong><font color="white">username</font></strong></th>
                                <th><strong><font color="white">email</font></strong></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for us in ranking %}
                            <tr>
                                <td><b>{{us.score}}</b></td>
                                <td><a href="{% url 'profile' us.id %}">{{us.username}}</a></td>
                                <td>{{us.email}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>