{% load crispy_forms_tags %}

<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="../../static/login.css">
    </head>

    <div class="form-wrapper">
        <h1>Sing In</h1>
        <div class="form-item">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="Sign In" value="Sign In"></input>
        </div>
            </form>

        <div class="form-footer">
            <p><a href="{%url 'signup'%}">Create an account</a></p>
            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        </div>
    </div>
</html>