/* 横スクロール */
.horizontal-list {
  overflow-x: scroll;
  white-space: nowrap;
  /* white-space: inherit; */
  -webkit-overflow-scrolling: touch;
  overflow-wrap: break-word;
  overflow-y:scroll;
  background: rgba(255, 255, 255, 1);
}
.break{
  word-wrap: break-word;
}
.item {
  /* 横スクロール用 */
  display: inline-block;
  width: 30%;

  /* 見た目調整 */
  height: 105px;
  width:auto;
  margin: 20px;
  padding: 10px;
  border:ridge;
  border-color: black;
  font-size: 13px;
  font-style: bold;
  color: white;
  /* background: rgba(255, 0, 0, 0.4); */
  background: rgb(84, 194, 146);
  overflow-wrap: break-word;
}


.select-room-box{
  color:black;
  font-family: 'メイリオ';
}

.link_button {
    /*font-weight: bold;*//*太字に*/
    text-decoration: none;/*下線消す*/
    background: skyblue;/*背景を水色に*/
    /*文字を白に*/
    color:black;
    padding:5px 10px;/*内側の余白*/
    /*角を丸くする*/
    border-radius: 20px;
    /* font-family: 'Avenir','Arial'; *//*フォントをいい感じに*/
    font-family: 'メイリオ';/*フォントをいい感じに*/
    /* 枠線の設定 */
      /* 枠線 */
    border: 1px solid rgb(133, 158, 226);
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    /* background-color: snow;  背景色 */
    width: 50em;             /* 横幅 */
    height: 50px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
  }
  /*以下カーソルを当てたとき*/
  .link_button:hover {
    /*background: silver;*//*背景色をシルバーに*/
    text-decoration: none;/*下線を消す*/
  }
  /*以下訪問済みのデザイン*/
  .link_button:visited {
    /*color: gray;*//*文字をグレイに*/
    color: black;
  }




/* 上部にユーザと検索機能を並列で並べる際に利用 */
.subject {
   text-align: left;  /* 文章を左寄せする(※) */
   float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.date {
   text-align: right; /* 文章を右寄せする */
}
.titlebar {
   color:white;               /* 文字を白色に */
   /* font-weight:bold;          /* 太字にする */
}


/* テーブルの作成 */
/* table{
  width: 100%;
  border-spacing: 0;
  table-layout: auto;
}

table th{
  border-bottom: solid 2px #fb5144;
  padding: 10px 0;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 10px 0;
} */


.design01 {
 width: 100%;
 /* height: 100%; */
 font-size: 100%;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
 margin: auto;
 margin-top: 20px;
 margin-bottom: auto;
 overflow-y: scroll;
}

.design01 table {
  table-layout : auto;
  width: auto;
  height: auto;
  overflow-y: scroll;

}
.design01 tbody{
  overflow-y: scroll;
  height: 150px;
}
.design01 th {
 padding: 10px;
 background: rgb(84, 194, 146);
 border: solid 1px #778ca3;
 text-align: center;
}
.design01 td {
 padding: 10px;
 border: solid 1px #778ca3;
 word-break : break-all;
 background-color: white;
}



.around {
  -ms-flex-pack:distribute;
  justify-content:space-around;
}
.content {
  padding:1em;
  /* background-color:#FFCC80; */
  margin:0.5em;
}

html, body, div, h1, h2, input, button {
    padding: 0;
    margin: 0;
}

body {
    /* background: rgba(105, 180, 205, 0.18); */

    /* font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; */
    font-family: "メイリオ";
    height: 2000px;
}

.mt-4, .my-4 {
  height: 2000px;
}

h2 {
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-align: center;
}

h3{
  color: black;
  font-size: 20px;
}

input {
    padding: 5px;
    height: 50px;
    width: 200px;
    /* border: none; */

    border: 1px black solid;
    background: #f2f2f2;
}

button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #000;
    color: white;
    height: 50px;
}

form, send-msg {
    display: flex;
    /* justify-content: start; */
    justify-content: center;

    width: auto;
    height: 50px;
}

a {
    color: blue;
}

.header {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.back {
    position: absolute;
    left: 20px;
    color: white;
}

.send {
    padding: 10px;
    padding-left: auto;
    padding-right: auto;
    width: 100px;
    background: #000;
    color: white;
}

.container {
    padding: 10px;
    max-width: 5000px;
    max-height: 5000px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: top;
    /* align-items: center; */ /* 左右中央？ */
    flex-direction: column;
    overflow: hidden;
}

.text-center{
  text-align: center;
}

/* .chat-box {
    margin: 5px;
}

.chat-room-body {
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;
}

.chat-room-footer {
    height: 50px;
}

.chat-header {
    border-bottom: solid 2px #aaa;
    padding: 15px;
    padding-bottom: 5px;
}

.chat-body {
    padding: 15px;
    padding-left: 25px;
} */
